USE [master]
GO
/****** Object:  Database [PHARMACY STORE MS]    Script Date: 08-02-2026 16:58:11 ******/
CREATE DATABASE [PHARMACY STORE MS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PHARMACY STORE MS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PHARMACY STORE MS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PHARMACY STORE MS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PHARMACY STORE MS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PHARMACY STORE MS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PHARMACY STORE MS]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 08-02-2026 16:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(2,2) NOT NULL,
	[Cname] [varchar](100) NULL,
	[Cphone] [varchar](15) NULL,
	[Cemail] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 08-02-2026 16:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](100) NULL,
	[Category] [varchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 08-02-2026 16:58:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(3,3) NOT NULL,
	[CustomerID] [int] NULL,
	[CustomerName] [varchar](50) NULL,
	[ProductID] [int] NULL,
	[ProductName] [varchar](50) NULL,
	[QuantitySold] [int] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[SaleDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [Cname], [Cphone], [Cemail]) VALUES (18, N'messi', N'264654', N'suii@gmail.com')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Category], [Price], [Quantity], [IsActive]) VALUES (7, N'ucl', N'trophy', CAST(120000.00 AS Decimal(10, 2)), 5, NULL)
INSERT [dbo].[Products] ([ProductId], [ProductName], [Category], [Price], [Quantity], [IsActive]) VALUES (8, N'super copa', N'trophy', CAST(100.00 AS Decimal(10, 2)), 36, NULL)
INSERT [dbo].[Products] ([ProductId], [ProductName], [Category], [Price], [Quantity], [IsActive]) VALUES (11, N'la liga', N'trophy', CAST(20.00 AS Decimal(10, 2)), 17, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleID], [CustomerID], [CustomerName], [ProductID], [ProductName], [QuantitySold], [TotalAmount], [SaleDate]) VALUES (78, 18, N'messi', 21, N'dolo', 12, CAST(144.00 AS Decimal(10, 2)), CAST(N'2026-02-08T16:04:36.910' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductId])
GO
USE [master]
GO
